<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../Backend/etc/system_file.xsd">
    <system>
        <tab id="stack" translate="label" sortOrder="777">
            <label>Stack Modules</label>
        </tab>
        <section id="newsletterdiscount" translate="label" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Newsletter Discount</label>
            <tab>stack</tab>
            <resource>Stack_NewsletterDiscount::config_newsletter_discount</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="message" translate="label" type="text" sortOrder="30" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Message Configuration</label>
                <field id="show_newsletter_box" translate="label" type="select" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show message in Newsletter box</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment></comment>
                </field>
                <field id="message_newsletter_box" translate="label" type="textarea" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message in Newsletter box</label>
                    <comment>HTML code is valid.</comment>
                </field>
            </group>
            <group id="customize" translate="label" type="text" sortOrder="999" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Customize</label>
                <field id="customize" translate="label" type="note" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>If you want to customize this extension, please contact us:</label>
                    <comment>support@stack.com</comment>
                </field>
            </group>
        </section>
    </system>
</config>